.rules-container {
  background-color: rgb(33, 33, 33);
  color: rgb(251, 234, 227);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: rgb(37, 37, 37);
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 2px solid rgb(90, 4, 4);
}

.header-title {
  font-size: 28px;
  color: rgb(251, 234, 227);
  justify-content: center;
}

.title {
  font-size: 30px;
  margin: 0;
}

.button-container {
  display: flex;
  gap: 15px;
}

.button {
  background-color: rgb(143, 6, 6);
  color: rgb(251, 234, 227);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: rgb(90, 4, 4);
}

.rules-content {
  flex-grow: 1;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.rules-header {
  font-size: 28.8px;
  margin-top: 30px;
  border-bottom: 2px solid rgb(143, 6, 6);
  padding-bottom: 5px;
}

.rule-text {
  font-size: 17.6px;
  line-height: 1.6;
  margin-top: 10px;
}
